@charset "utf-8";

#accordion h2 {

	background-color:#E6F1F4;
	-webkit-border-radius:20px;
	border-radius:20px;
	border: 1px solid #E6F1F4;

}
#accordion h2 a {
	text-decoration:none;
	padding:5px;
  border-top: 1px dotted #cccccc; 
}
#accordion div {
	margin-left:5px;
	height:auto;
	overflow:auto; 
  border-bottom: 1px dotted #cccccc; 
  
  margin-bottom:10px;
}

